/* 
	reset the page to default settings
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page Style
*/
body { 
	position: relative;
	width:100%;
	height:100%;
	letter-spacing:0;
	color:#434343;
	background-color: #f2e6c2;
	position:relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width: 500px;
	height: 500px;
}

#share {
	display: none;
	height: 350px;
	width: 350px;
	max-height: 500px;
	max-width: 500px;
	border-style:solid;
	border-color: #bf1600;
	border-width: 18px;
	border-radius: 100%;
	background-color: #fc1d00;
	color: white;
	opacity: .9;
	position: relative;
    text-align: center;
    overflow: hidden;
 	cursor: pointer;
    z-index: 2;

    font-family: 'Oleo Script', 'Comic Sans', sans-serif;

    -webkit-user-select: none;
    user-select: none;
}

#share:hover {
	opacity: 0.95;
	box-shadow: 0 0 10px #AA6C28;
}

#share.pulsate:hover {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-name: pulsate;
	animation-name: pulsate;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-duration: 2s;
	animation-duration: 2s;

	-webkit-transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#share.red,
#share.green {
	opacity: 1;

	-webkit-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#share.red {
	
}

#share.green {
	border-color: #1F7F27;
	background-color: #17B83E;
}

#share.fadeToGreen {
	-webkit-animation-name: activate;
	animation-name: activate;
}

#share.fadeToRed {
	-webkit-animation-name: deactivate;
	animation-name: deactivate;
}

#social {
	position: absolute;
	bottom: 10%;
	left: 41%;

	width: 40px;
	height: 40px;

	border-radius: 100%;
	background-color: #bf1600;
}

#social img {
	max-width: 100%;
	max-height: 100%;
}

.fadeToGreen #social,
.fadeToRed #social {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-duration: 0.25s;
	animation-duration: 0.25s;

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.fadeToRed #social {
	-webkit-animation-name: social-deactivate;
	animation-name: social-deactivate;
}

.green #social {
	background-color: #1F7F27;
}

.fadeToGreen #social {
	-webkit-animation-name: social-activate;
	animation-name: social-activate;
}

#youare,
#main {
	font-size: 2.5em;
	color: #f2e6c2;
	letter-spacing: .5px;
	-webkit-font-smoothing: antialiased;
}

/* Needed to prevent jumping around on load */
#main {
	position: absolute;
	top: 40.5%;
	left: 12%;
}

#youare {
	position: relative;
	top: 7%;
	
	text-align: center;
	font-size: 0.9em;
	color: #bf1600;
}

#youare p {
	margin-top: 1%;
	font-size: 1.5em;
	letter-spacing: 10px;
}

#container {
	position: relative;
	width: 100%;
	height: 100%;
}

#next {
	color: #bf1600;

	position: absolute;
	bottom: 13%;
	text-align: center;
	cursor: pointer;

	font-size: 0.9em;
	letter-spacing: 2px;
}

#next:hover {
	color: #fc1d00;
}

/* Animations */

@-webkit-keyframes pulsate {
	0% {
		box-shadow: 0 0 10px #AA6C28;
	}
	50% {
		box-shadow: 0 0 100px #AA6C28;
	}
	100% {
		box-shadow: 0 0 10px #AA6C28;
	}
}
@keyframes pulsate {
	0% {
		box-shadow: 0 0 10px #AA6C28;
	}
	50% {
		box-shadow: 0 0 100px #AA6C28;
	}
	100% {
		box-shadow: 0 0 10px #AA6C28;
	}
}

@-webkit-keyframes activate {
	0% {
		border-color: #bf1600;
		background-color: #fc1d00;
	}
	100% {
		border-color: #1F7F27;
		background-color: #17B83E;
	}
}
@keyframes activate {
	0% {
		border-color: #bf1600;
		background-color: #fc1d00;
	}
	100% {
		border-color: #1F7F27;
		background-color: #17B83E;
	}
}

@-webkit-keyframes social-activate {
	0% {
		background-color: #bf1600;
	}
	100% {
		background-color: #1F7F27;
	}
}
@keyframes social-activate {
	0% {
		background-color: #bf1600;
	}
	100% {
		background-color: #1F7F27;
	}
}

@-webkit-keyframes deactivate {
	0% {
		border-color: #1F7F27;
		background-color: #17B83E;
	}
	100% {
		border-color: #bf1600;
		background-color: #fc1d00;
	}
}
@keyframes deactivate {
	0% {
		border-color: #1F7F27;
		background-color: #17B83E;
	}
	100% {
		border-color: #bf1600;
		background-color: #fc1d00;
	}
}

@-webkit-keyframes social-deactivate {
	0% {
		background-color: #1F7F27;
	}
	100% {
		background-color: #bf1600;
	}
}
@keyframes social-deactivate {
	0% {
		background-color: #1F7F27;
	}
	100% {
		background-color: #bf1600;
	}
}

