/* 
	reset the page to default settings
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page Style
*/
body { 
	width:100%;
	height:100%;
	letter-spacing:0;
	color:#434343;
	background-color: #f2e6c2;
	position:relative;
	font-family: 'Oleo Script', cursive, sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
}

#container {
	width: 500px;
	height: 500px;
}

#share {
	height: 350px;
	width: 350px;
	max-height: 500px;
	max-width: 500px;
	border-style:solid;
	border-color: #bf1600;
	border-width:25px;
	border-radius: 100%;
	background-color: #fc1d00;
	color: white;
	opacity: .9;
	position: relative;
    text-align: center;
    overflow: hidden;
 	cursor: pointer;
    z-index: 2;

    box-shadow: 0 0 10px black;

    -webkit-user-select: none;
    user-select: none;
}

#share:hover {
	opacity: 0.95;
	box-shadow: 0 0 10px black;
}

#share.pulsate:hover {
	-webkit-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-name: pulsate;
	animation-name: pulsate;

	-webkit-animation-iteration-count: infinite;
	animation-iteration-count: infinite;

	-webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#share:active {
	opacity: 1;
	border-color: #1F7F27;
	background-color: #17B83E;

	-webkit-animation-delay: 0s;
	animation-delay: 0s;

	-webkit-animation-name: activate;
	animation-name: activate;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-duration: 0.1s;
	animation-duration: 0.1s;

	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
	transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

#share.pulsate:active {
	-webkit-animation-name: pulsate, activate;
	animation-name: pulsate, activate;

	-webkit-animation-iteration-count: 1;
	animation-iteration-count: 1;

	-webkit-animation-duration: 0.2s;
	animation-duration: 0.2s;
}


#social {
	position: absolute;
	bottom: 10%;
	left: 41%;
}

#youare,
#main {
	font-size:3.5em;
	color: #f2e6c2;
	letter-spacing: .5px;
	font-family: 'Oleo Script', cursive, sans-serif;
	-webkit-font-smoothing: antialiased;
}

/* Needed to prevent jumping around on load */
#main {
	position: absolute;
	top: 40.5%;
	left: 12%;
}

#youare {
	position: relative;
	top: 20px;
	font-size: 2.5em;
	color: #302D21;
	text-align: center;
}

/* Animations */

@-webkit-keyframes pulsate {
	0% {
		box-shadow: 0 0 10px black;
	}
	50% {
		box-shadow: 0 0 100px black;
	}
	100% {
		box-shadow: 0 0 10px black;
	}
}
@keyframes pulsate {
	0% {
		box-shadow: 0 0 10px black;
	}
	50% {
		box-shadow: 0 0 100px black;
	}
	100% {
		box-shadow: 0 0 10px black;
	}
}

@-webkit-keyframes activate {
	0% {
		border-color: #bf1600;
		background-color: #fc1d00;
	}
	100% {
		border-color: #1F7F27;
		background-color: #17B83E;
	}
}

@keyframes activate {
	0% {
		border-color: #bf1600;
		background-color: #fc1d00;
	}
	100% {
		border-color: #1F7F27;
		background-color: #17B83E;
	}
}


