/* 
	reset the page to default settings
*/

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td { margin:0; padding:0; border:0; outline:0; font-weight:inherit; font-style:inherit; font-size:100%; font-family:inherit; vertical-align:baseline; }
:focus { outline:0; }
a:active { outline:none; }
body { line-height:1; color:black; background:white; }
ol,ul { list-style:none; }
table { border-collapse:separate; border-spacing:0; }
caption,th,td { text-align:left; font-weight:normal; }
blockquote:before,blockquote:after,q:before,q:after { content:""; }
blockquote,q { quotes:"" ""; }

/*
	Page Style
*/
body { 
	position: relative;
	width:100%;
	height:100%;
	position:relative;
	font-family: 'Comic Sans', 'Comic Sans MS', sans-serif;
	font-weight: 300;
}

#content,
#examples,
#details {
	position: relative;
	min-height: 500px;
}

#content {
	background-color: #f9f2dd;
}

#examples {
	background-color: #F7EAC5;
}

#details {
	background-color: #F5DDBF;
	min-height: 750px;
	padding-bottom: 150px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
  
  	#details {
  		min-height: 1150px;
  	}
}

.content {
	padding: 25px;
	max-width: 610px;
}

h1 {
	font-weight: 300;
	font-size: 1.5em;
	font-weight: bold;
	color: #bf1600;
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 35px;
	margin-top: 35px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
    
	body h1 {
		font-weight: 300;
		font-size: 1.5em;
		font-weight: bold;
		position: relative;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 50px;
		margin-top: 15px;
		width: 80%;
		line-height: 1.25em;
		max-width: 750px;
	}
}

h2 {
	font-weight: 300;
	font-size: 1.5em;
	color: rgb(15,15,15);
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	letter-spacing: .5px;
}

h3 {
	font-weight: 300;
	font-size: 1em;
	font-weight: bold;
	color: rgb(15,15,15);
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	letter-spacing: .5px;
}

#examples h3, #details h3 {
	font-weight: 300;
	font-size: 1em;
	font-weight: bold;
	color: rgb(15,15,15);
	position: relative;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 40px;
	letter-spacing: .5px;
}

h2#top {
	margin-bottom: 25px;
	font-size: 1em;
}

h2.heart {
	color: #681E1E;
	margin-bottom: 25px;
	font-size: 3em;
	font-family: serif;
}

p.centerIt {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 1em;
	color: rgb(15,15,15);
	line-height: 150%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
    
	body p.centerIt {
		text-align: center;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		font-size: .85em;
		line-height: 150%;
		max-width: 750px;
	}
}

#mission .centerIt p{
	margin-bottom: 25px;
}

p.original {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: rgb(15,15,15);
	line-height: 150%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
    
	body p.original {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		width: 80%;
		max-width: 750px;
		line-height: 150%;
	}
}

p.originalBottom {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: rgb(15,15,15);
	line-height: 150%;
}

p#originalBottom {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: rgb(15,15,15);
	line-height: 150%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
    
	body p#originalBottom {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 80%;
		position: relative;
		line-height: 150%;
		max-width: 750px;
	}
}

p.originalBottomJ {
	text-align: justify;
	text-rendering: optimizeLegibility;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	line-height: 150%;
	display: block;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (-o-device-pixel-ratio: 3/2), 
only screen and (min-device-pixel-ratio: 1.5) {
    
    body p.originalBottomJ {
		text-align: justify;
		text-rendering: optimizeLegibility;
		margin-top: 10px;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		line-height: 150%;
		display: block;
		width: 80%;
		max-width: 750px;
	}
}

ul.centerIt {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	font-size: 1em;
	font-weight: bold;
	color: #bf1600;
	line-height: 150%;
}

ul.centerItSm {
	text-align: center;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	color: #bf1600;
	line-height: 150%;
}

.bold {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: #bf1600;
}

#winky {
	text-align: center;
	margin-top: 40px;
	-webkit-transform: rotate(2.7181828rad);
	transform: rotate(2.7181828rad);
	font-family: Helvetica, Arial;
	font-size: 18pt;
}

