export PORT=3000
export APPENV='PRODUCTION' # or 'DEVELOPMENT' if that's what you're into

function startveryshare {
	if [ "$APPENV" -eq "PRODUCTION"];
		export PORT=80
	fi

    sudo su;
    cd /home/ubuntu/veryshare;
    killall screen;
    screen -d -m -L -S 'veryshare' nodejs app;
    exit;
}